span{
  font-family: "Playwrite AU SA", serif;
}

#sobre-nos p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

#sobre-nos .img-fluid {
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  align-items: center;
}

#sobre-nos img {
  max-height: 350px;
  object-fit: cover;
  align-items: center;
}

.card{
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}


