<section>
  <div class="container py-5" id="sobre-nos">
    <h1 class="text-center py-5">Sobre Nós</h1>
    <div class="row mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <img src="assets/images/sobre-nos.png" class="img-fluid w-70 mx-auto" alt="Equipe NutriSmart">
        </div>
      </div>
      <div class="col-md-6">
        <h5 class="text-center">Nossa Missão</h5>
        <p>
          Na <span>**NutriSmart**</span>, nosso compromisso é promover a saúde e o bem-estar através de uma alimentação equilibrada e personalizada. Somos uma equipe de nutricionistas especializados em diversas áreas da nutrição, incluindo nutrição clínica, esportiva, infantil, e para gestantes. Acreditamos que uma alimentação saudável é a base para uma vida plena e feliz.
        </p>
        <p>
          Com um atendimento humanizado e personalizado, nossa missão é ajudar nossos pacientes a atingirem seus objetivos, seja para emagrecimento, ganho de massa muscular, ou simplesmente melhorar a qualidade de vida.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-5">
    <h2 class="text-center py-5">Nossos Serviços</h2>
    <div class="row mt-6">
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição Infantil</h5>
            <p class="card-text">Orientações para o desenvolvimento saudável da criança, com planos alimentares adaptados à sua faixa etária e necessidades.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição para Doenças Crônicas</h5>
            <p class="card-text">Acompanhamento nutricional para controle e prevenção de doenças crônicas como diabetes, hipertensão, entre outras.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição para Vegetarianos/Veganos</h5>
            <p class="card-text">Consultoria especializada em dietas vegetarianas e veganas, com foco em balanceamento nutricional e bem-estar.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição Pré e Pós Cirúrgico</h5>
            <p class="card-text">Acompanhamento nutricional para preparar o paciente antes da cirurgia e otimizar a recuperação pós-operatória.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição Comportamental</h5>
            <p class="card-text">Acompanhamento nutricional focado no comportamento alimentar e nas emoções relacionadas à comida, com técnicas para melhorar a relação com a alimentação.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Consulta Nutricional Personalizada</h5>
            <p class="card-text">Sessões individuais com planos alimentares adaptados às suas necessidades.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição para Gestantes</h5>
            <p class="card-text">Acompanhamento nutricional especializado para gestantes e pós-parto.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Nutrição Esportiva</h5>
            <p class="card-text">Consultoria nutricional para otimização de performance e recuperação pós-treino.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

