<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#">NutriSmart</a>
    <button class="navbar-toggler"
    type="button"
    (click)="toggleMenu()"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    [attr.aria-expanded]="menuAberto"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': !menuAberto, 'navbar-collapse': true}"
    id="navbarNavAltMarkup">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Nutricionistas</a>
        <a class="nav-link" href="#">Marque sua Consulta</a>
        <a class="nav-link" href="#">Login</a>
      </div>
    </div>
</nav>
