<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      NutriSmart
    </a>

    <!-- Botão Toggle para dispositivos menores -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links de Navegação -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Nossa Equipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
