.navbar {
  background-color: #333; /* Cinza escuro */
}

.navbar-brand {
  color: #FFD700; /* Amarelo ouro */
}

.navbar-brand img {
  margin-right: 8px;
}

.nav-link {
  color: #FFF; /* Texto branco */
}

.nav-link:hover {
  color: #FFD700; /* Amarelo ouro ao passar o mouse */
  transition: color 0.3s ease;
}

.navbar-toggler {
  border-color: #FFD700;
}
